<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <jesperherrloff_customer_navigation>
            <settings>
                <account_navigation>1</account_navigation>
                <name_as_class>1</name_as_class>
            </settings>
        </jesperherrloff_customer_navigation>
    </default>
</config>
